{% block body %}

    <h3>Confirmation de votre demande de modification de mot de passe.</h3>

    <p>Bonjour {{ user.username }}, pour modifier votre mot de passe sur Snowtricks,
        Veuillez cliquer sur le lien suivant : <a href="{{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}/resetPassword/{{ token }}/{{ user.username }}">Réinitialiser le mote de passe</a>
    </p>

{% endblock %}