{% extends 'base.admin.html.twig' %}

{% block title %}{{ title }} un trick{% endblock %}

{% block content %}
    <section class="flex-column">

        <h1 class="mt-4 text-center">{{ title }} un trick</h1>

        <div class="custom_container mt-4 pb-5 container border form-group d-flex align-items-center flex-column justify-content-around">
            <div class="container-fluid">

                {{ form_start(form) }}

                <p>Images</p>
                <ul class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
                    {# iterate over each existing tag and render its only field: name #}
                    {% for image in form.images %}
                        <li>{{ form_row(image.filename) }}</li>
                    {% endfor %}
                </ul>
<!--
                <ul class="tags" data-prototype="{##}{ form_widget(form.videos.vars.prototype)|e('html_attr') }}">
                    {# iterate over each existing tag and render its only field: name #}
                    {##}% for video in form.videos %}
                        <li>{#{ form_row(video.iframe) }}</li>
                    {% endfor %}
                </ul>
                #}
                -->
                    {{ form_rest(form) }}
                <div class="text-center">
                    <p>* Champs obligatoires</p>
                    <button class="btn-lg btn-primary btn-primary-blue-reverse" type="submit">Enregistrer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous">
        </script>
        <script>
            var $collectionHolder;

            function addTagForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                var newForm = prototype;
                // You need this only if you didn't set 'label' => false in your tags field in TaskType
                // Replace '__name__label__' in the prototype's HTML to
                // instead be a number based on how many items we have
                // newForm = newForm.replace(/__name__label__/g, index);

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                newForm = newForm.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);
            }

            // setup an "add a tag" link
            var $addTagButton = $('<button type="button" class="add_tag_link btn-primary rounded">Ajouter une photo</button>');
            var $newLinkLi = $('<li></li>').append($addTagButton);

            jQuery(document).ready(function() {
                // Get the ul that holds the collection of tags
                $collectionHolder = $('ul.images');

                // add the "add a tag" anchor and li to the tags ul
                $collectionHolder.append($newLinkLi);

                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)
                $collectionHolder.data('index', $collectionHolder.find(':input').length);

                $addTagButton.on('click', function(e) {
                    // add a new tag form (see next code block)
                    addTagForm($collectionHolder, $newLinkLi);
                });
            });

        </script>

    </section>
{% endblock %}