{% for comment in comments %}
    <div class="comment container w-75 mt-3 mb-5">
        <div class="row">
            <div class="commentImg w-100 col-2">
                {% if comment.author.profilePictureFileName is empty%}
                    <img class="w-100 h-100 rounded-circle" src="{{ asset('images/profile_picture/default.png') }}">
                {% else %}
                    <img class="w-100 h-100 rounded-circle" src="{{ asset('images/profile_picture/' ~ comment.author.id ~'/'~ comment.author.profilePictureFileName) }}">
                {%  endif %}
            </div>
            <div class="comments col rounded">
                <div class="d-flex justify-content-between">
                    <h4>{{ comment.author.username }}</h4>
                    <p class="commentDate font-weight-bold text-sm">{{ comment.creationDate|date("d/m/Y H:i") }}</p>
                </div>
                {{ comment.content }}
            </div>
        </div>
    </div>
{% endfor %}
