{% extends 'base.html.twig' %}

{% block title %}{{trick.name}}{% endblock %}

{% block content %}

    <img id="td_bg" class="w-100" src="{{ asset('images/trick/trickdefaultcover.jpg') }}">

        <div style="max-width:1250px;" class="shadow container border mt-lg-5 mb-5 p-0 bg-light">

            <div class="position-relative">
            {% if trick.images.first is not empty %}
                <img id="trick_img" style="width:100% ;height:auto;" src="{{ asset('images/trick/') ~ trick.id ~'/'~ trick.images.first.filename }}">
            {% else %}
                <img id="trick_img" style="width:100% ;height:auto;" src="{{ asset('images/trick/default.png') }}">
            {% endif %}

                <h1 id="trick_title" class="m-auto font-weight-bold text-center align-middle">{{ trick.name }}</h1>
            </div>

            {% for message in app.flashes('success') %}
            <div class="container-flex mr-3 ml-3 mt-2 text-center alert alert-success">
                {{ message }}
            </div>
            {% endfor %}

            <div id="show_medias" class="text-center mt-3">
                <button onclick="showMedias()" type="button" class="btn-lg btn-primary">Voir médias</button>
            </div>

            <div id="medias" class="container-fluid d-flex mt-2 justify-content-md-between flex-wrap justify-content-center">
                {% for image in trick.images %}
                    {% if loop.index > 1 %}
                        <div class="mt-2 shadow" style="width:300px; height:190px;">
                            <img class="w-100 h-100" src="{{ asset('images/trick/' ~ trick.id ~'/'~ image.filename) }}">
                        </div>

                    {% endif %}
                {% endfor %}
                {% for video in trick.videos %}
                        <div class="mt-2 shadow" style="width:300px; height:190px;">
                            {{ video.iframe |raw }}
                        </div>
                {% endfor %}
            </div>

            {% if trick.author == app.user or is_granted('ROLE_ADMIN') %}
            <div class="text-right mt-4 mr-4">
                <a href="{{ path('edit_trick',{ 'trick_slug': trick.slug } ) }}"><button type="button" class="btn-lg btn-info">Éditer le trick</button></a>
            </div>
            {% endif %}

            <div class="mt-4 container text-justify">
                <h2>Description</h2>
                {{ trick.description |nl2br}}
            </div>


            <div class="container-fluid mt-5 align-items-center justify-content-center row m-0 ">
                        <div class="p-2 mr-2 mb-2 rounded bg-primary text-white">Groupe : {{ trick.category }}</div>
                        <div class="p-2 mr-2 mb-2 rounded bg-primary text-white">Difficulté :
                            {% for i in 0..4 %}
                                {% if i < trick.difficulty %}
                                        <i class="fas fa-star"></i>
                                    {% else %}
                                        <i class="far fa-star"></i>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="p-2 mr-2 mb-2 rounded bg-primary text-white" >Auteur : {{ trick.author.username }}</div>
                        <div class="p-2 mr-2 mb-2 rounded bg-primary text-white" >Créé le {{ trick.creationDate|date("d/m/Y") }}</div>
                        {% if trick.updateDate is not empty and trick.updateDate > trick.creationDate %}
                            <div class="p-2 mr-2 mb-2 rounded bg-primary text-white" >Modifié le {{ trick.updateDate|date("d/m/Y") }}</div>
                        {% endif %}
            </div>
            <hr class="mr-4 ml-4">

            {% if app.user %}

                {% for message in app.flashes('failed') %}
                    <div class="custom_container mt-3 container alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}

            <div class="container w-50">
            {{ form_start(form) }}
                {{ form_row(form.content, {'attr': {'style':'min-height: auto !important;'}}) }}
                <button type="submit" class="btn btn-primary">Poster</button>
            {{ form_end(form) }}
            </div>
            <hr class="mr-4 ml-4">
            {% endif %}

            {% set comments_10 = [] %}
            {% for comment in comments %}
                {% if loop.index <= 10 %}
                    {% set comments_10 = comments_10|merge([comment]) %}
                {% endif %}
            {% endfor %}

            {% include 'frontend/comment.twig' with {'comments': comments_10} %}

            {% if comments|length > 10 %}
                <div id="comments_end" class="text-center mb-5">
                    <button id="show_more" onclick="showMore()" type="button" class="btn-lg btn-primary">Voir plus</button>
                </div>
            {% endif %}
        </div>

        <script>
            $('.commentImg').css({'height':$('.commentImg').width()+'px'});

            function showMedias(){
                document.getElementById('medias').style.cssText = "display:flex !important";
            }

            function setOffset(){
                offset = 0
                for(i =0; i<$('.comment').length; i++ ){
                    offset++;
                }
            }
            setOffset();

            function showMore() {
                $.ajax({
                    url: "{{path('ajax_comments')}}",
                    type: "POST",
                    data: {
                        offset: offset
                    }}).done(function (data) {
                    $("#comments_end").before(data);
                    setOffset();
                    if(offset >= {{ comments|length }}){
                        $("#show_more").before("<p class=\"mt-3\">Tous les commentaires sont affichés !</p>");
                        $("#show_more").remove();
                    }
                    $('.commentImg').css({'height':$('.commentImg').width()+'px'});
                });
            }

        </script>
{% endblock %}