<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" type="image/png" href="{{ asset('images/logo.png') }}" />
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</head>
<body>
<nav class="d-none d-md-flex p-0 navbar navbar-expand-lg navbar-light shadow-sm bg-light pl-4 pr-4">
    <img id="logo-navbar" src="{{ asset('images/logo.png') }}" alt="logo snowtricks">
    <a class="pl-2 navbar-brand" href="{{ path('home') }}">Snowtricks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('home') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Tricks</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profile') }}">Profil</a>
                </li>
                <li class="nav-item">
                    <a onclick="return confirm('Etes-vous sûr de vouloir vous déconnecter ?')" class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('register') }}">Inscription</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<nav id="mobile-navbar" class="d-sm-flex d-md-none d-xs-flex nav-xs nav bg-light font-blue fixed-bottom vw_100">
    <ul class="nav justify-content-around col-xs-12 col-sm-12">
        <li class="nav-item"><a class="nav-link" href=""><i class="fas fa-home font-blue"></i></a></li>
        <li class="nav-item"><a class="nav-link" href=""><i class="fas fa-bookmark font-blue"></i></a></li>
        {% if app.user %}
            <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt font-blue"></i></a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt font-blue"></i></a></li>
        {% endif %}
    </ul>
</nav>
{% block content %}{% endblock %}

<footer id="sticky-footer" class="d-sm-none d-md-block d-xs-none py-4 bg-dark text-white-50">
    <div class="container">
        <small>Copyright &copy; Your Website</small>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>